* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;

  width: 100%;
  height: 164px;

  justify-content: space-between;

  background-color: #3C3C40;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  flex-grow: 1;
  margin: 71px 45px 0 0;
}

header ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

/* header ul li:hover {
  border-bottom: 10px dotted #66C938;
  cursor: pointer;
} */

header img {
  width: 182px;
  height: 164px;
  margin-left: 34px;
}

@media (max-width: 1024px) {

  header {
    display: flex;
    width: 100%;
    background-color: #3C3C40;
  }

  header img {
    width: 142px;
    height: 134px;
  }

  .esconder-menu {
    opacity: 0;
    height: 0;
    transition: all .5 ease-in-out;
  }

  .normalizar-menu {
    opacity: 1;
    transition: all .5 ease-in-out;
  }

  .btn-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 0;

    width: 80px;
    height: 80px;
    cursor: pointer;

    margin-top: 15px;

    transition: all .5s ease-in-out;
  }
  
  .menu-hamburguer {
    width: 51px;
    height: 6px;
    background-color: #FFFFFF;

    border-radius: 6px;

    box-shadow: 0 2px 5px rgba(122, 122, 122, 0.4);

    transition: all .5s ease-in-out;
  }

  .menu-hamburguer::after,
  .menu-hamburguer::before {
    content: '';
    position: absolute;

    width: 51px;
    height: 6px;
    background-color: #FFFFFF;

    border-radius: 6px;

    box-shadow: 0 2px 5px rgba(122, 122, 122, 0.4);

    transition: all .5s ease-in-out;
  }

  .menu-hamburguer::before {
    transform: translateY(-12px);
  }

  .menu-hamburguer::after {
    transform: translateY(12px);
  }

  .btn-menu.open .menu-hamburguer {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .btn-menu.open .menu-hamburguer::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .btn-menu.open .menu-hamburguer::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

}